@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* Variables */

$color-main: #2a2f3b;
$color-scondary: #7b798e;
$color-light: #edecde;
$color-accent: #a03b33;
$color-accent-light: #d1944a;

$font-main: 'Roboto', sans-serif;

/* Global */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*1rem = 10px 10px/16px=62.5 */
}

.container {
  height: 100vh;
}
