@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* Variables */

$color-main: #2a2f3b;
$color-scondary: #a2a0b4;
$color-light: #edecde;
$color-accent: #a03b33;
$color-accent-light: #d1944a;

$font-main: 'Roboto', sans-serif;

$font-normal: 1.6rem;
$font-big: 2.8rem;

/* Global */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: $color-main;
  color: $color-light;
  font-family: $font-main;
}

html {
  font-size: 62.5%; /*1rem = 10px 10px/16px=62.5 */
}

h1 {
  font-size: $font-big;
  font-weight: 700;
}

a {
  text-decoration: none;
  font-size: $font-normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
a,
a:active,
a:focus,
a:link {
  color: $color-light;
}

ul {
  list-style: none;
}
label {
  margin-right: 1rem;
  font-size: $font-normal;
  transition: all 0.3s;
}
input {
  outline: none;
  border: none;
  padding: 1rem;
}
input:focus + label {
  color: $color-accent-light;
  transform: translateX(-6px) scale(1.2);
  margin-right: 1.4rem;
}

.container {
  height: 100vh;
}

.btn {
  padding: 1.2rem 1.6rem;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: $font-normal;
  font-weight: 700;
  width: 25%;
  transition: all 0.3s;
}
.btn:hover {
  background-color: $color-accent;
  color: $color-light;
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(5px);
}

/* navigation */

.navigation {
  height: 5rem;
  width: 100%;
  background-color: $color-scondary;
  position: static;
  display: flex;

  ul {
    flex-direction: row;
    display: flex;
    margin: 1.5rem auto;
    li {
      order: row;
    }
  }

  &__link {
    padding: 1rem;
    transition: all 0.4s;
    border-bottom: none;
  }

  li:hover &__link {
    color: $color-accent;
  }
}

/* Header */

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  &__title,
  &__controls,
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  &__controls {
    label {
      order: -1;
    }
  }
}

/* Footer */
